
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="employees" routerLinkActive="active">Employee List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="create-employee" >Add Employee</a>
      </li>
    </ul>
  </div>
</nav>

<h1 class="text-center">{{title}}</h1>
<div class="container mt-5">
    <router-outlet></router-outlet>
</div>
<footer class="footer bg-dark">
    <div class="container">
        <span>All Right Reserved 2024 @chandraPrakash</span>
    </div>
</footer>